<div class = "row">
    <div class = "col-sm-4 text-left">
        {% if request.path != url_for('showCollections') %}
            <a href = "{{url_for('showCollections')}}">
                <button class = "btn btn-success header-button header-button-home">
                    <span class = "glyphicon glyphicon-home"></span>
                </button>
            </a>
        {% endif %}
    </div>
    <div class = "col-sm-4 text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class = "flash">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class = "col-sm-4 text-right">
        {%if 'username' not in session %}
            <a href = "{{url_for('showLogin')}}">
                <button class = "btn btn-default header-button">
                    Login <span class = "glyphicon glyphicon-log-in"></span>
                </button>
            </a>
        {% else %}
            <a href = "{{url_for('gdisconnect')}}">
                <button class = "btn btn-warning header-button">
                    Logout <span class = "glyphicon glyphicon-log-out"></span>
                </button>
            </a>
        {% endif %}
    </div>
</div>